{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6", // ✅ 关键点，不能是 commonjs
    "strict": true,
    "strictMode": true,
    "noInterop": true
  }
}